s/version: .*$/version: ${IMAGE_TAG}-helm/
s/appVersion: .*$/appVersion: ${IMAGE_TAG}/
s,ghcr.io,${HELM_REGISTRY},g
s/tag: {{FLUX_CLI_TAG}}$/tag: ${FLUX_CLI_TAG}/
s/tag: {{HELM_CONTROLLER_TAG}}$/tag: ${HELM_CONTROLLER_TAG}/
s/tag: {{KUSTOMIZE_CONTROLLER_TAG}}$/tag: ${KUSTOMIZE_CONTROLLER_TAG}/
s/tag: {{NOTIFICATION_CONTROLLER_TAG}}$/tag: ${NOTIFICATION_CONTROLLER_TAG}/
s/tag: {{SOURCE_CONTROLLER_TAG}}$/tag: ${SOURCE_CONTROLLER_TAG}/
