s,docker.io/emissaryingress/emissary,public.ecr.aws/eks-anywhere/emissary-ingress/emissary,g
s,tag: 3.*.*,tag: ${IMAGE_TAG},g
s,appVersion: *.*.*,appVersion: ${IMAGE_TAG},g
s/^name: emissary-ingress$/name: emissary/
300,400 s,enabled: true,enabled: false,g
s,image: REPOSITORY:TAG,image: public.ecr.aws/f5b7k4z5/emissary-ingress/emissary:${IMAGE_TAG},g
s/version: .*$/version: ${IMAGE_TAG}/