apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
dns:
    imageRepository: $EKSD_IMAGE_REPO/coredns
    imageTag: $COREDNS_VERSION
etcd:
    local:
        imageRepository: $EKSD_IMAGE_REPO/etcd-io
        imageTag: $ETCD_VERSION
imageRepository: $EKSD_IMAGE_REPO/kubernetes
kubernetesVersion: $EKSD_KUBE_VERSION
