apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
dns:
    type: CoreDNS
    imageRepository: public.ecr.aws/eks-distro/coredns
    imageTag: $COREDNS_VERSION
etcd:
    local:
        imageRepository: public.ecr.aws/eks-distro/etcd-io
        imageTag: $ETCD_VERSION
imageRepository: public.ecr.aws/eks-distro/kubernetes
kubernetesVersion: $EKSD_KUBE_VERSION
