s,version: [[:digit:]]\+.[[:digit:]]\+.[[:digit:]]\+,version: ${IMAGE_TAG},g
s,appVersion: [[:digit:]]\+.[[:digit:]]\+.[[:digit:]]\+,appVersion: ${IMAGE_TAG},g
s,{{eks-anywhere-packages-tag}},${IMAGE_TAG},g
s,{{ecr-token-refresher-tag}},${IMAGE_TAG},g
