{{- if .Values.loadBalancer.enabled }}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Values.kubevip.name }}
  namespace: {{ .Values.namespace }}
  labels:
    app.kubernetes.io/name: {{ .Values.kubevip.name }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.kubevip.name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Values.kubevip.name }}
    spec:
      containers:
      - args:
        - manager
        env:
        - name: vip_arp
          value: "true"
        - name: vip_cidr
          value: "32"
        - name: svc_enable
          value: "true"
        - name: svc_election
          value: "true"
        image: {{ .Values.kubevip.image }}
        imagePullPolicy: {{ .Values.kubevip.imagePullPolicy }}
        name: {{ .Values.kubevip.name }}
        securityContext:
          capabilities:
            add:
            - NET_ADMIN
            - NET_RAW
      hostNetwork: true
      serviceAccountName: {{ .Values.kubevip.name }}
{{- end }}
