{{- if .Values.loadBalancer.enabled }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.kubevip.name }}
  namespace: {{ .Values.namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  annotations:
    rbac.authorization.kubernetes.io/autoupdate: "true"
  name: {{ .Values.kubevip.roleName }}
rules:
  - apiGroups: [""]
    resources: 
      - "services"
      - "services/status"
      - "nodes"
      - "endpoints"
    verbs: 
      - "list"
      - "get"
      - "watch"
      - "update"
  - apiGroups:
      - "coordination.k8s.io"
    resources:
      - "leases"
    verbs:
      - "list"
      - "get"
      - "watch"
      - "update"
      - "create"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.kubevip.roleBindingName }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.kubevip.roleName }}
subjects:
- kind: ServiceAccount
  name: {{ .Values.kubevip.name }}
  namespace: {{ .Values.namespace }}
---
{{- end }}
