s,quay.io,${HELM_REGISTRY},g
s/version: v0.1.0/version: ${IMAGE_TAG}-helm/
s/appVersion: v0.1.0/appVersion: ${IMAGE_TAG}/
s/digest: {{CERT_MANAGER_CONTROLLER_DIGEST}}$/digest: ${CERT_MANAGER_CONTROLLER_DIGEST}/
s/digest: {{CERT_MANAGER_CAINJECTOR_DIGEST}}$/digest: ${CERT_MANAGER_CAINJECTOR_DIGEST}/
s/digest: {{CERT_MANAGER_WEBHOOK_DIGEST}}$/digest: ${CERT_MANAGER_WEBHOOK_DIGEST}/
