{
  "kubernetes_cni_deb_version": "",
  "kubernetes_cni_http_checksum": "$CNI_SHA",
  "kubernetes_cni_http_source": "$PLUGINS_ASSET_BASE_URL",
  "kubernetes_cni_rpm_version": "",
  "kubernetes_cni_semver": "$CNI_VERSION",
  "kubernetes_cni_source_type": "http",
  "kubernetes_cni_host_device_sha256": "$CNI_HOST_DEVICE_SHA256"
}