{
  "containerd_sha256": "$CONTAINERD_SHA256",
  "containerd_url": "$CONTAINERD_URL",  
  "crictl_source_type": "http",
  "crictl_url": "$CRICTL_URL",
  "crictl_sha256": "$CRICTL_SHA256",
  "kubernetes_container_registry": "$IMAGE_REPO",
  "kubernetes_http_source": "$KUBERNETES_ASSET_BASE_URL",
  "kubernetes_load_additional_imgs": "true",
  "kubernetes_semver": "$KUBERNETES_VERSION",
  "kubernetes_full_version": "$KUBERNETES_FULL_VERSION",
  "kubernetes_series": "$KUBERNETES_SERIES",
  "kubernetes_source_type": "http",
  "etcd_http_source": "$ETCD_HTTP_SOURCE",
  "etcd_version": "$ETCD_VERSION",
  "etcd_sha256": "$ETCD_SHA256",
  "etcdadm_http_source": "$ETCDADM_HTTP_SOURCE",
  "etcdadm_version": "$ETCDADM_VERSION"
}