{
	"ARCH":"amd64",
	"OS":"ubuntu",
	"PROVIDER":"ova",
	"containerd_version":"1.4.4",
	"etcd_version": "$ETCD_VERSION",
	"etcd_sha256": "$ETCD_SHA256",
	"etcdadm_version": "$ETCDADM_VERSION",
	"kubernetes_cni_deb_version":"",
	"kubernetes_cni_rpm_version":"",
	"kubernetes_cni_source_type":"http",
	"kubernetes_cni_version":"$CNI_VERSION",
	"kubernetes_cni_host_device_sha256": "$CNI_HOST_DEVICE_SHA256",
	"kubernetes_deb_version":"",
	"kubernetes_rpm_version":"",
	"kubernetes_source_type":"http",
	"kubernetes_version":"$KUBERNETES_FULL_VERSION",
	"pause_image": "$PAUSE_IMAGE"

}